/* Base styles for mobile devices */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.single-blog-post {
    box-sizing: border-box;
    padding: 10px;
    min-width: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.overlay {
    position: relative;
    text-align: center;
    color: white;
}

.single-blog-post img {
    width: 100%;
    height: auto;
}

#carouselTitle {
    position: absolute;
    font-size: large;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 0px 20px;
}

.filter-container p {
    margin: 5px 10px;
}

#tag-filter {
    padding: 10px;
    margin-right: 10px;
}

#search-input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination-section {
    margin: 20px 0;
    text-align: center;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.single-pagination-post {
    flex: 1 1 calc(100% - 20px); 
    box-sizing: border-box;
    padding: 10px;
}

.single-pagination-post img {
    height: auto;
    width: 100%;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #278D2B;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (min-width: 769px) {
    #carouselTitle {
        font-size: x-large;
    }
    .carousel .single-blog-post {
        min-width: 33.33%;
    }
    
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }
    
    .single-pagination-post {
        flex: none; 
        width: 100%; 
    }

    .single-blog-post img {
    max-height: 350px;
    max-width: auto;
    object-fit: cover;
    }

}
