h1 {
    font-family: 'Titan One', sans-serif;
    color: #278D2B;
}

h2{
    font-family: 'Julius Sans One';
}

h3{
    font-family: 'Julius Sans One';
}

p{
    font-family: 'nunito', 'Times New Roman', Times, serif;
}
