body{
  margin: 0;
  background-color: #EDEEE9;
}


h1 {
    font-family: 'Titan One', sans-serif;
    color:#21A179;
    margin-left: 2%;
    font-weight: 100;
    font-size: 32px;
  }
  
  h2 {
    font-family: 'Julius Sans One', 'Times New Roman', Times, serif;
    font-size: 24px;
  }
  
  h3 {
    font-family: 'Julius Sans One', 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  p, li, ul {
    font-family: 'nunito', 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
  }
  
  textarea{
    font-family: 'nunito', 'Times New Roman', Times, serif;
  }
  .registerPage,
  .loginPage {
    margin: 50px;
    padding: 50px;
    max-width: 300px;
    border: #21A179 solid;
    text-align: center;
  }
  
  button {
    font-family: 'nunito', 'Times New Roman', Times, serif;
    background-color:#004346;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  button:hover{
    background-color: #81AE9D;
  }
  
  #submitBTN {
    margin: 20px 0;
    padding: 5px 20px;
  
  }

  .registerLogin button {
    background-color: #EDEEE9;
    color: #E06666;
    font-weight: 700;
    cursor: pointer;
  }
  
  .registerLogin button:hover {
    font-style: italic;
  }
  
  input, label, button {
    font-family: 'Nunito', 'Times New Roman', Times, serif;
  }
  
  #editPostForm, #newPostForm {
    display: flex;
    flex-direction: column;
    margin: 50px;
    max-width: 800px;
  }
  
  .delete-btn {
    background-color: #E06666;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }

  .delete-btn:hover{
    background-color: #D73C3C;
  }

  #error-message, .error, .field-error {
    color: red;
    font-weight: bold;
    display: none;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  @media (min-width: 769px){

    h1{
      font-size: 48px;
    }

    h2{
      font-size: 36px;
    }

    h3{
      font-size: 30px;
    }
    p, ul{
      font-size: 18px;
    }

    .registerPage,
    .loginPage {
      justify-content: center;
      justify-self: center;
      align-self:center;
      align-items: center;
    }
  }