body{
  margin: 0;
}


  
  header{
    font-family: 'Titan one', 'Times New Roman', Times, serif;
    color: #62AC66 ;
    text-align: center;
    background-color: #E6F9ED;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: larger;
  }

  a{
    text-decoration: none;
  }

#post-content {
  margin: 20px;
}

#post-content img{
  width: 100%;
  max-height: auto;
}

