body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
}

#notification {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #1E6B1A;
  display: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#cancelBTN {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

#cancelBTN:hover {
  background-color: #d32f2f;
}

.success-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #1D906C;
  color: white;
  font-size: 1.5em;
  border-radius: 5px;
  z-index: 1000;
}

@media (min-width: 769px){
  
}